<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ball Street Sports</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>
<body>
  <div class="main-container">

<div class="whitespace"></div>

{% include 'navbar.html' %}

{% block content %}
  replace
{% endblock %}

  <div class='foot-padding'>
  </div>

<!-- Footer -->
  <footer class="py-5 bg-black foot">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Ball Street Sports 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
