{% extends 'base.html' %}

{% block content %}

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">SportsBrokerage</h1>
        <h2 class="masthead-subheading mb-0">Where it's Always a Bull Market</h2>
        <div class="">
          <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'pages:events' 'Football' %}" role="button">Football</a>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" style='margin-left: 20px' href="{% url 'pages:events' 'Baseball' %}" role="button">Baseball</a>
          <a class="btn btn-primary btn-xl rounded-pill mt-5" style='margin-left: 20px' href="{% url 'pages:events' 'Basketball' %}" role="button">Basketball</a>
        </div>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'pages:rules' %}" role="button">Rules to Site</a>
      </div>
    </div>
  </header>

{% endblock %}
