{% extends 'base.html' %}

{% block content %}

<div class='whitespace'>
</div>
<div class='center-text profit parent-center'>
  <h2>Total Profit: ${{ profit }}</h2>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-sm-6'>
      {% for person in top5 %}
      <h5>{{ person.first_name }} currently has {{ person.current_profit }}</h5>
      {% endfor %}
    </div>
    <div class='col-sm-6'>
      {% for share, potential in shares %}
      <h5>Potential winnings of {{ share.name }}: {{ potential }}</h5>
      {% endfor %}
    </div>
  </div>
</div>

  <div class='whitespace'>
  </div>

<div class='container'>
  <div class='row'>
    {% for user in users %}
    <div style='margin-top: 5px' class='col-sm-3'>
      <form action='{% url "pages:user_view" %}' method='POST'>
       {% csrf_token %}
       <input type='hidden' name='user_id' value='{{ user.id }}' />
       <button class='btn-primary' type='submit'>{{ user.profile.first_name }} {{user.profile.last_name}}</button>
      </form>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
