<div class="row nav-whitespace d-block">
  <h4 class="mb-0 share-title">{{ request.inv_share.share.name }}</h4>
  <p class='share-element'>Seller: {{ request.sender.user.username }}</p>
  <p class='share-element'>Current Price: {{ request.inv_share.share.pricePerShare }}</p>
  <p class='share-element'># Shares: {{ request.numShares }}</p>
  <div class="row">
    <a data-toggle="modal" href="#portfolioModal2" class="btn btn-primary d-flex justify-content-center buy-btn">Buy</a>
    <a data-toggle="modal" href="#portfolioModal3" class="btn btn-primary d-flex justify-content-center reject-btn">Reject</a>
  </div>

  <div class='share-breakline'></div>

</div>

<!-- modal of share -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body parent-center">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase center-text">Are you sure?</h2>
              <p class="item-intro text-muted">Buy</p>
              <ul class="list-inline">
              <div class="row">
                <div class="col-sm-6 float-left">
                  <form action='{% url "pages:accept_request" %}' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='req' value='{{ request.id }}' />
                    <button class="btn btn-primary confirm-btn float-left" type="submit">Yes</button>
                  </form>
                </div>
                <div class="col-sm-6 float-right">
                  <button class="btn btn-primary confirm-btn float-right" data-dismiss="modal" type="button">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal of share -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body parent-center">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase center-text">Are you sure?</h2>
              <p class="item-intro text-muted">Reject</p>
              <ul class="list-inline">
              <div class="row">
                <div class="col-sm-6 float-left">
                  <form action='{% url "pages:reject_request" %}' method="POST">
                    {% csrf_token %}
                    <input type='hidden' name='req' value='{{ request.id }}' />
                    <button class="btn btn-primary confirm-btn float-left" type="submit">Yes</button>
                  </form>
                </div>
                <div class="col-sm-6 float-right">
                  <button class="btn btn-primary confirm-btn float-right" data-dismiss="modal" type="button">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
