<div class="row nav-whitespace d-block">
  <h4 class="mb-0 share-title">{{ req.inv_share.share.name }}</h4>
  <p class='share-element'>Selling Price: ${{ req.salePrice }}</p>
  <p class='share-element'># Shares: {{ req.numShares }}</p>
  <div class="row">
    <form action='{% url "pages:reject_request" %}' method='POST'>
      {% csrf_token %}
      <input type='hidden' name='req_id' value='{{ req.id }}' />
      <button type='submit'  style='color: white' class="btn btn-primary d-flex justify-content-center buy-btn">Take Back</button>
    </form>
  </div>

  <div class='share-breakline'></div>

</div>
