* {
 box-sizing: border-box;
}

*:before,
*:after {
 box-sizing: border-box;
}

html,
body {
 height: 100%;
 position: relative;
}

.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}

/* sign up */

.help-text {
  color: grey;
  display: block;
}

.help-text li {
  list-style: none;
}

.error-text {
  color: red;
}

/* bets */

.bet-display {
  margin-top: 50px;
  margin-bottom: 50px;
}

.shares-header, .seeds-header {
  margin: auto;
  margin-top: 40px;
}

.parent-center {
  text-align: center;
}

.center-text {
  margin: auto;
}

.extra-margin {
  margin: 10px;
  margin-bottom: 20px;
}

.background-tint {
  background-color: #f7f7f7;
}

.extra-bottom {
  margin-bottom: 30px;
}

.form-group {
  margin-left: .2rem;
  margin-right: .2rem;
}

.narrower {
  padding-left: 10rem;
  padding-right: 10rem;
}

.login-btn {
}

.nav-whitespace {
  margin-top: 3rem;
}

.whitespace {
  height: 3rem;
}

/* shares */

.shares-header {
  margin-bottom: 40px;
}

.profit {
  margin-bottom: 40px;
  margin-top: 100px;
}

.share-title {
  margin-bottom: .5rem;
}

.share-element {
  margin-top: .5rem;
}

.share-breakline {
  background-color: #000;
  height: 3px;
  width: 20rem;
}

.sell-btn, .buy-btn, .reject-btn {
  margin-bottom: 30px;
  width: 100px;
}

.buy-btn {
  margin-left: 30px;
  margin-right: 20px;
}

.reject-btn {
  margin-left: 50px;
}

.confirm-btn {
  width: 100px;
}

/* footer */

.foot-padding {
  margin-top: 30px;
  height: 2rem;
}

footer {
 height: 2rem;
 position: absolute;
 bottom: 0;
 width: 100%;
 opacity: .82;
}

/* games */

.game-list li {
  margin: 10px;
}

.game-list button {
  margin: 10px;
}
